[submodule "external/pybind11"]
	path = external/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "external/cpp20template"]
	path = external/cpp20template
	url = https://github.com/zovonoir/cpp20template.git
